# Template for .env
# Please run "cp .env.template .env" and add appropriate variables
# Make sure to never upload .env to GitHub. Make use of that .gitignore!
NETBOX_URL=""
TERMIX_URL=""
WARPGATE_URL=""
SLACK_WEBHOOK=""